body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4e1c1;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    width: 300px;
}

input {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 12px;
    border: none;
    background: #e68735;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background: #d35400;
}

#mensaje {
    color: rgb(180, 26, 26);
}